* {
  text-align: center;
  color: pink;
}
ul {
  list-style: none;
  border: 1px solid lightseagreen;
  width: 30%;
  margin: 0 auto;
}
li {
  text-align: left;
  margin-left: 40%;
}
img {
  width: 20%;
  margin-top: 16px;
}